:root {
	--clr-primary: rgb(96, 125, 139);
	--clr-primary-dark: rgb(72, 94, 105);
	--clr-secondary: #e6e6e6;
	--clr-text-secondary: #ffffff;
	--clr-text-primary: #686868;
	--clr-overlay: rgba(96, 125, 139, 0.7);
	--clr-nav-text: #000;

	--header-height: 6rem;
	--fw-normal: 300;
	--fw-bold: 400;
}

body::-webkit-scrollbar {
	width: 1rem;
	background-color: var(--clr-secondary);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-primary);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: var(--header-height);
}

html,
body {
	height: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.bold-text {
	font-weight: var(--fw-bold);
}

.section-heading {
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.btn {
	padding: 1.25rem 2rem;
	min-width: 20rem;
	text-align: center;
	border-radius: 0.5rem;
	font-size: 1.8rem;
}

body {
	font-size: clamp(1.6rem, 1.44rem + 0.4vw, 2rem);
	font-family: "Montserrat Alternates", sans-serif;
	line-height: 1.5;
	padding-top: var(--header-height);
}

.container {
	width: min(80%, 120rem);
	margin: 0 auto;
	position: relative;
	/* background-color: rgba(0, 0, 0, 0.173); */
}

.header {
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	height: var(--header-height);
	transition: ease-in 200ms;
}

.navbar {
	display: flex;
	justify-content: space-between;
	height: var(--header-height);
	align-items: center;
	color: var(--clr-text-secondary);
}

.navbar a {
	color: var(--clr-nav-text);
	position: relative;
	padding: 0.6rem 1rem;
}

.navbar a::before {
	content: "";
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-bottom-color: var(--clr-nav-text);
	border-top-color: var(--clr-nav-text);
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transition: cubic-bezier(0.34, 1.23, 0.78, 0.7) 200ms;
	transform: translateX(-50%);
}

.navbar li:hover a::before {
	width: 80%;
}

.navbar a.active::before {
	width: 80%;
	font-weight: var(--fw-bold);
}

.header.scroll {
	background-color: var(--clr-primary);
}

.header.scroll .navbar a {
	color: var(--clr-text-secondary);
}

.nav-list-right {
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
	flex-basis: 50%;
}

.social-links {
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	right: 2rem;
	z-index: 999;
}

.social-icon {
	width: 3rem;
	height: 3rem;
	margin: 2rem 0;
}

.social-icon a {
	display: inline-block;
	height: 100%;
}

.social-icon img {
	filter: invert(49%) sepia(22%) saturate(420%) hue-rotate(155deg)
		brightness(91%) contrast(92%);
	transition: ease-in 200ms;
}

.social-icon img:hover,
.social-icon a:active img {
	filter: invert(35%) sepia(21%) saturate(486%) hue-rotate(155deg)
		brightness(93%) contrast(90%);
}

.inner-container {
	padding: 10rem 10rem;
}

.intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: calc(100vh - var(--header-height));
	max-height: 90rem;
}

.profile-picture {
	position: relative;
	width: 90%;
	margin-left: auto;
}

.intro h1 {
	font-size: 4.8rem;
	font-weight: var(--fw-normal);
}

@keyframes move {
	100% {
		transform: translateY(0px);
	}
}

.profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	min-width: 25rem;
}

.profile-picture .picture {
	position: absolute;
	left: -10%;
}

.intro h3,
.intro .typed-text {
	font-size: 2.4rem;
	font-weight: var(--fw-normal);
	color: var(--clr-text-primary);
	width: max-content;
}

.intro .typed-text {
	font-weight: var(--fw-bold);
	text-transform: lowercase;
}

.intro .cursor {
	background-color: var(--clr-text-primary);
	width: 0.25rem;
	display: inline-block;
	margin-left: 0.1rem;
	opacity: 0;
	animation: blink 0.6s linear infinite;
}

.intro .cursor.editing {
	animation: none;
	opacity: 1;
}

.intro .btn {
	background-color: var(--clr-primary);
	border: none;
	color: var(--clr-text-secondary);
	cursor: pointer;
	transition: ease-in 200ms;
}

@keyframes blink {
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.intro .btn:hover,
.intro .btn:active {
	outline: none;
	background-color: var(--clr-primary-dark);
}

.intro .left {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: flex-start;
}

.gradient-background {
	background-image: linear-gradient(
		180deg,
		#ededed 0%,
		rgba(209, 209, 209, 0) 60.94%
	);
}

.about-me p {
	color: var(--clr-text-primary);
	hyphens: auto;
	text-align: justify;
}

.skills-container {
	background: linear-gradient(
				to bottom right,
				#ededed 0%,
				rgba(209, 209, 209, 0) 46%
			)
			bottom right / 50% 50% no-repeat,
		linear-gradient(to bottom left, #ededed 0%, rgba(209, 209, 209, 0) 46%)
			bottom left / 50% 50% no-repeat,
		linear-gradient(to top left, #ededed 0%, rgba(209, 209, 209, 0) 46%) top
			left / 50% 50% no-repeat,
		linear-gradient(to top right, #ededed 0%, rgba(209, 209, 209, 0) 46%) top
			right / 50% 50% no-repeat;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 5rem;
	column-gap: 4rem;
	justify-content: center;
}

.skills-list li {
	background-color: var(--clr-secondary);
	border-radius: 50%;
	width: 12rem;
	height: 12rem;
	padding: 2rem;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	row-gap: 4rem;
}

.project {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	padding: 2rem;
	width: 49%;
	min-width: 35.6rem;
	max-width: 48rem;
	border-radius: 1.2rem;
}

.project-img,
.project-img img {
	border-radius: 1.2rem;
}

.project-img {
	height: 30%;
	position: relative;
	overflow: hidden;
}

.project-img::before {
	content: "";
	height: 100%;
	width: 100%;
	background: var(--clr-overlay);
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all ease-in 300ms;
}

.project-img img {
	object-fit: cover;
	vertical-align: middle;
}

.project h3 {
	font-size: 3rem;
	margin: 1.5rem 0;
}

.project-tech {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1.2rem;
	column-gap: 1rem;
	margin-bottom: 1.5rem;
}

.project-tech li {
	color: var(--clr-text-secondary);
	background: var(--clr-primary);
	text-align: center;
	padding: 0.5rem 1.5rem;
	border-radius: 1.2rem;
}

.project-description {
	text-align: justify;
	hyphens: auto;
}

.project-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.project-btn a {
	visibility: hidden;
	opacity: 0;
	transition: all ease-in 300ms;
	padding: 0.5rem 1rem;
	min-width: 18rem;
}

.code-btn {
	color: var(--clr-text-secondary);
	background-color: transparent;
	border: 0.1rem solid var(--clr-text-secondary);
}

.code-btn:hover {
	background-color: var(--clr-text-secondary);
	color: var(--clr-primary);
}

.demo-btn {
	color: var(--clr-primary);
	background-color: var(--clr-text-secondary);
	border: 0.1rem solid var(--clr-text-secondary);
}

.demo-btn:hover {
	color: var(--clr-text-secondary);
	background-color: transparent;
	border: 0.1rem solid var(--clr-text-secondary);
}

.project-img:hover::before,
.project-img:hover .code-btn,
.project-img:hover .demo-btn {
	visibility: visible;
	opacity: 1;
}

.contact {
	background-color: var(--clr-primary);
	border-radius: 0.5rem;
	padding: 5rem;
}

.contact-form {
	text-align: center;
}

.form-grid {
	display: grid;
	gap: 1.2rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"name message"
		"email message";
}

input[type="text"].input-elem {
	grid-area: name;
}

input[type="email"].input-elem {
	grid-area: email;
}

textarea.input-elem {
	grid-area: message;
}

.input-elem {
	padding: 1.4rem 1rem;
	border-radius: 0.5rem;
	border: none;
	color: var(--clr-text-primary);
}

input,
textarea {
	font-size: clamp(1.6rem, 1.44rem + 0.4vw, 2rem);
}

.submit {
	border: 1px solid var(--clr-text-secondary);
	background-color: transparent;
	color: var(--clr-text-secondary);
	text-align: center;
	margin-top: 5rem;
}

footer {
	text-align: center;
	margin-top: 5rem;
	color: var(--clr-text-primary);
	font-size: 0.8em;
}
